.navbar1{
    display: flex;
    margin-bottom: -40px;
}

.navbar1 .logo{
    display: flex;
}

.navbar1 .logo img{
    width: 35%;
}

.navbar1 .links{
    margin-top: 56px;
    padding: 15px;
    padding-left: 14.5vw;
    width: 100%;
}

.navbar1 .links a{
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 1px black;
    margin-left: 35px;
    font-size: 18px;
}

.footer{
    display: flex;
    column-gap: 48px;
    margin-top: -30px;
    margin-bottom: 30px;
}

.us{
    padding-left: 4vw;
    padding-top: 10vh;
    width: 30%;
}

.us h2{
    font-size: 32px;
    font-weight: 700;
}

.us p{
    font-size: 15px;
    font-weight: 700;
}

.about{
    padding-left: 3vw;
    padding-top: 10vh;
    width: 30%;
}

.about h3{
    margin-bottom: 26px;
    font-size: 24px;
    font-weight: 700;
}

.about a{
    display: block;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: #6C6C70;
    margin-top: 10px;
}

.legal{
    padding-left: 2vw;
    padding-top: 10vh;
    width: 15.25%;
}

.legal h3{
    margin-bottom: 26px;
    font-size: 28px;
    font-weight: 700;
}

.legal a{
    display: block;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: #6C6C70;
    margin-top: 10px;
}

.follow{
    padding-left: 5vw;
    padding-top: 10vh;
    width: 19.5%;
}

.follow h3{
    margin-bottom: 26px;
    font-size: 28px;
    font-weight: 700;
}

.follow img{
    margin-left: 14px;
    width: 18%;
}

.copyrights .brand img{
    width: 20%;
    margin-top: -45px;
}

.copyrights .brand h3{
    font-size: 18px;
    font-weight: 700;
    margin-top: -50px;
}